<div class="container__table">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Subtotal</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>NAME</td>
        <td>QUANTITY</td>
        <td>PRICE</td>
        <td>SUBTOTAL</td>
      </tr>

      <tr>
        <td>NAME</td>
        <td>QUANTITY</td>
        <td>PRICE</td>
        <td>SUBTOTAL</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container__total">
  <p class="total">
    <strong>Total: <span>TOTAL</span></strong>
  </p>
</div>
